body {
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background: #333;
}

header {
  height: 50px;
}

header .header-top__fixed {
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background: #000;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 0;
  line-height: 30px;
  color: #ffffff;
}

header .header-top__fixed a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}

header .header-top__fixed a:hover {
  background: #333;
}

header .header-top__fixed .dropdown-menu {
  left: -50%;
  background: #000;
  text-align: center;
}

header .header-top__fixed .dropdown-menu a {
  text-transform: none;
}

header .header-top__fixed .dropdown-menu a:hover {
  color: #ffffff;
}

header .header-toggle {
  position: absolute;
  background: none;
  display: none;
  height: 30px;
  width: 40px;
  border: 0;
  top: 10px;
  padding: 0 5px;
}

header .header-toggle span.icon-bar {
  position: relative;
  display: block;
  width: 30px;
  height: 0;
  border: 2px solid;
  margin: 3px 0;
}

header .header-top__slide {
  min-width: 160px;
}

#content {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

#over {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #000000;
  opacity: .8;
  z-index: 99999;
}

.left {
  float: left;
}

.right {
  float: right;
}

.none {
  float: none;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.banner {
  width: 100%;
  max-height: 400px;
  text-align: center;
  margin-bottom: 5px;
}

.banner img {
  width: inherit;
  max-height: 400px;
  object-fit: cover;
}

.title {
  color: #ffffff;
  font-weight: 600;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.game-list__button {
  background: none;
  border: 2px solid orangered;
  color: orangered;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 5px;
  margin: 2px;
}

.game-list__button:hover {
  background: orangered;
  color: #ffffff;
}

.game-list .fill {
  border: 2px solid orangered;
  background: orangered;
  color: #ffffff;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 4px;
  padding: 5px;
  margin: 2px;
}

.list-account {
  position: relative;
  width: 90%;
  padding-top: 115%;
  margin: 5%;
  border: 1px solid #fff;
}

.list-account__detail {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.list-account__detail:hover .list-account__detail-desc {
  display: block;
  cursor: pointer;
}

.list-account__detail-thumb {
  width: 100%;
  height: calc(100% - 50px);
  position: absolute;
  top: 0;
  left: 0;
  background-image: none;
  background-size: cover;
  background-position: center center;
}

.list-account__detail-title {
  position: absolute;
  width: 100%;
  max-height: 50px;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  padding: 5px 0;
  font-weight: 600;
  top: 0;
  left: 0;
  background: #000;
  opacity: .6;
}

.list-account__detail-desc {
  width: 100%;
  height: calc(100% - 90px);
  position: absolute;
  top: 40px;
  word-break: break-all;
  line-height: 25px;
  overflow: hidden;
  color: #ffffff;
  padding: 5px 10px;
  display: none;
  z-index: 9999;
  font-weight: 600;
  font-size: 12px;
}

.list-account__detail-action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #fff;
}

.list-account__detail-action select {
  display: inline-block;
  width: calc(100% - 72px);
  height: 30px;
  margin: 10px 2px;
  border: 1px solid #000;
  border-radius: 3px;
}

.list-account__detail-action #btn-rent {
  display: inline-block;
  width: 60px;
  height: 30px;
  border: 0;
  border-radius: 3px;
  margin: 10px 2px;
  background: #000;
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
}

.list-account__detail-action #btn-rent:hover {
  background: orangered;
  color: #000000;
}

table {
  width: 100%;
}

table tr th {
  background: #000;
  color: orangered;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #ddd;
}

table tr td {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px 5px;
  border: 1px solid #ddd;
  word-break: break-all;
}

table tr td input {
  color: #000000;
}

table .category__thumb {
  width: 100px;
  height: 100px;
}

@keyframes spin {
  to {
    transform: rotate(180deg);
  }
}

@-moz-keyframes spin {
  to {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes spin {
  to {
    transform: rotate(180deg);
  }
}

#loading {
  display: block;
  width: 0;
  height: 0;
  margin: 10px auto;
  border-radius: 50%;
  border: 30px solid transparent;
  border-left-color: red;
  border-right-color: blue;
  animation: spin .3s infinite;
  -moz-animation: spin .3s infinite;
  -webkit-animation: spin .3s infinite;
}

.dialog {
  max-width: 500px;
  z-index: 999999;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  padding: 30px 10px 20px 10px;
  border-radius: 4px;
  transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  overflow: hidden;
  overflow-y: auto;
}

.dialog__title {
  width: calc(100% - 30px);
  height: 30px;
  text-align: center;
  line-height: 30px;
  padding: 0 25px;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  border-bottom: 1px solid #ddd;
  position: absolute;
  top: 0;
  left: 0;
}

.dialog__close {
  font-size: 20px;
  line-height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.dialog__button-blue {
  display: block;
  height: 40px;
  padding: 2px 5px;
  border: 0;
  background: blue;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 5px;
}

.dialog__button-red, .dialog__button-close {
  display: block;
  height: 40px;
  padding: 2px 5px;
  border: 0;
  background: #ff0000;
  color: #ffffff;
  border-radius: 4px;
  margin-top: 5px;
}

.dialog__text {
  text-align: center;
  width: 100%;
  margin: 5px 0;
}

.card-type {
  cursor: pointer;
  margin: 5px 0;
  width: 100%;
  height: 50px;
  display: block;
}

.card-type__viettel {
  width: 30%;
  height: 100%;
  margin: 0 calc(10% / 6);
  background: url(../upload/images/viettel.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  opacity: 0.8;
}

.card-type__viettel:hover {
  border: #ff0000 1px solid;
  opacity: 1;
}

.card-type__vinaphone {
  width: 30%;
  height: 100%;
  margin: 0 calc(10% / 6);
  background: url(../upload/images/vinaphone.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  opacity: 0.8;
}

.card-type__vinaphone:hover {
  border: #ff0000 1px solid;
  opacity: 1;
}

.card-type__mobifone {
  width: 30%;
  height: 100%;
  margin: 0 calc(10% / 6);
  background: url(../upload/images/mobifone.png);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  float: left;
  opacity: 0.8;
}

.card-type__mobifone:hover {
  border: #ff0000 1px solid;
  opacity: 1;
}

.card-type .selected {
  border: #ff0000 1px solid;
  opacity: 1;
}

.card-detail label {
  color: #000000;
}

.card-detail input {
  width: 100%;
  height: 30px;
  border-radius: 4px;
  padding: 0 5px;
  margin: 2px 0;
  border: 1px solid #ddd;
}

.card-detail input:focus {
  border: 1px solid #2600ff;
}

.card-detail button {
  float: right;
  height: 40px;
  border-radius: 4px;
  padding: 0 5px;
  margin: 2px 0;
  border: 1px solid #ddd;
  background: #009e00;
  color: #ffffff;
}

.card-detail button:hover {
  background: #00350b;
}

.list {
  width: 100%;
  background: #000;
  padding: 0;
  margin: 0;
}

.list-item {
  line-height: 30px;
  padding: 5px 0;
  text-align: center;
  border: 1px solid #ddd;
  list-style: none;
}

.list-item:hover {
  background: #333;
}

.list-item a {
  text-decoration: none;
  color: #ffffff;
}

form {
  border: 1px solid #ddd;
  padding: 10px;
}

form #game-avatar {
  width: 100%;
}

form #game-avatar img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  object-fit: fill;
  display: block;
  border: 1px solid orangered;
}

form label {
  color: #ffffff;
  margin: 5px 0;
}

form input,
form input.form-control {
  margin: 5px 0;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 10px;
}

form input:focus,
form input.form-control:focus {
  border-color: dodgerblue;
}

form select {
  height: 40px;
  width: 100%;
}

form button {
  background: orangered;
  border: 0;
  border-radius: 3px;
  color: #ffffff;
  height: 40px;
  display: block;
  margin: 5px auto;
  line-height: 40px;
}

form button:hover {
  background: #b43000;
}

form textarea {
  width: 100%;
}

form .group {
  color: #ffffff;
}

form .group input {
  color: #000000;
  display: inline-block;
  width: 50%;
}

.description {
  color: #ffffff;
}

.description ul {
  counter-reset: item;
  padding: 0;
  margin: 0;
}

.description ul li {
  list-style: none;
  position: relative;
  background: #000000;
  color: #ffffff;
  padding: 5px 5px 5px 25px;
}

.description ul li:after {
  content: counter(item);
  counter-increment: item;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #ffffff;
  color: #000000;
  border-radius: 50%;
  position: absolute;
  text-align: center;
  font-weight: 600;
  left: 2px;
  top: calc(50% - 10px);
}

footer {
  background: #000;
  width: 100%;
  height: 150px;
  padding: 10px;
  color: #ffffff;
}

@media screen and (max-width: 769px) {
  header .header-toggle {
    display: block;
  }
  header .header .toggle-in .icon-bar:first-child {
    position: absolute;
    top: calc(50% - 4px);
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  header .header .toggle-in .icon-bar:nth-child(2n) {
    display: none;
  }
  header .header .toggle-in .icon-bar:last-child {
    position: absolute;
    top: calc(50% - 4px);
    transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  header .header-top__slide {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    background: #000;
    text-align: center;
  }
  header .header-top__slide a {
    color: #ffffff;
    text-transform: none;
    text-decoration: none;
    font-size: 15px;
    cursor: pointer;
    display: block;
  }
  .game-list__button {
    width: 100%;
  }
  #loading {
    display: block;
    width: 0;
    height: 0;
    margin: 5px auto;
    border-radius: 50%;
    border: 20px solid transparent;
    border-left-color: red;
    border-right-color: blue;
    animation: spin .3s infinite;
  }
}

@media screen and (min-width: 498px) and (max-width: 768px) {
  .col-xsm-1,
  .col-xsm-2,
  .col-xsm-3,
  .col-xsm-4,
  .col-xsm-5,
  .col-xsm-6,
  .col-xsm-7,
  .col-xsm-8,
  .col-xsm-9,
  .col-xsm-10,
  .col-xsm-11,
  .col-xsm-12 {
    float: left;
  }
  .col-xsm-12 {
    width: 100%;
  }
  .col-xsm-11 {
    width: 91.66666667%;
  }
  .col-xsm-10 {
    width: 83.33333333%;
  }
  .col-xsm-9 {
    width: 75%;
  }
  .col-xsm-8 {
    width: 66.66666667%;
  }
  .col-xsm-7 {
    width: 58.33333333%;
  }
  .col-xsm-6 {
    width: 50%;
  }
  .col-xsm-5 {
    width: 41.66666667%;
  }
  .col-xsm-4 {
    width: 33.33333333%;
  }
  .col-xsm-3 {
    width: 25%;
  }
  .col-xsm-2 {
    width: 16.66666667%;
  }
  .col-xsm-1 {
    width: 8.33333333%;
  }
  .list-account__detail-action select {
    width: calc(100% - 52px);
    height: 30px;
    font-size: 12px;
  }
  .list-account__detail-action #btn-rent {
    width: 40px;
    padding: 0;
    height: 30px;
    font-size: 12px;
  }
  .dialog {
    width: 90%;
  }
}

@media screen and (max-width: 498px) {
  .list-account__detail-action select {
    width: calc(100% - 52px);
    height: 30px;
    font-size: 12px;
  }
  .list-account__detail-action #btn-rent {
    width: 40px;
    padding: 0;
    height: 30px;
    font-size: 12px;
  }
  .dialog {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }
}

@media screen and (max-height: 400px) {
  .dialog {
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
  }
}
